anyascii==0.3.3
asgiref==3.11.1
beautifulsoup4==4.15.0
certifi==2026.6.17
cffi==2.0.0
charset-normalizer==3.4.8
cryptography==49.0.0
defusedxml==0.7.1
dj-database-url==3.1.2
Django==6.0.2
django-filter==25.2
django-modelcluster==6.5
django-permissionedforms==0.1
django-stubs-ext==6.0.6
django-taggit==6.1.0
django-tasks==0.9.0
django-treebeard==4.8.0
djangorestframework==3.17.1
draftjs_exporter==5.2.0
et_xmlfile==2.0.0
filetype==1.2.0
google-api-core==2.31.0
google-auth==2.55.1
google-cloud-bigquery==3.42.1
google-cloud-core==2.6.0
google-crc32c==1.8.0
google-resumable-media==2.10.0
googleapis-common-protos==1.75.0
grpcio==1.82.0
grpcio-status==1.82.0
gunicorn==26.0.0
idna==3.18
laces==0.1.2
modelsearch==1.1.1
openpyxl==3.1.5
packaging==26.2
pdfminer.six==20260107
pdfplumber==0.11.10
pillow==12.3.0
pillow_heif==1.4.0
proto-plus==1.28.0
protobuf==7.35.1
psycopg==3.3.4
psycopg-binary==3.3.4
pyasn1==0.6.3
pyasn1_modules==0.4.2
pycparser==3.0
pyOpenSSL==26.3.0
pypdfium2==5.11.0
python-dateutil==2.9.0.post0
python-decouple==3.8
python-dotenv==1.2.2
qrcode==8.2
requests==2.34.2
setuptools==83.0.0
six==1.17.0
soupsieve==2.8.4
sqlparse==0.5.5
telepath==0.3.1
typing_extensions==4.16.0
urllib3==2.7.0
wagtail==7.3
wagtail-metadata==5.0.0
wheel==0.47.0
whitenoise==6.12.0
Willow==1.12.0
